[2022-07-19 09:02] kaklakariada opened #7 "Add compatibility with the BigQuery JDBC driver"
Hi @goccy,

We use the [BigQuery JDBC driver](https://cloud.google.com/bigquery/docs/reference/odbc-jdbc-drivers#current_jdbc_driver) (see [documentation](https://storage.googleapis.com/simba-bq-release/jdbc/Simba%20Google%20BigQuery%20JDBC%20Connector%20Install%20and%20Configuration%20Guide.pdf)) in our project and would like to add integration tests using bigquery-emulator.

It's possible to spe

[2022-07-20 10:35] goccy commented on #7
Thank you for your request.
First, path prefix will resolve with this fixes .
https://github.com/goccy/bigquery-emulator/pull/8/files#diff-78f42ba40d0f10b08c73b7e6bb8376f398e249c963cf549e89591d6b6826b9a4R56

Second, `Content-Encoding gzip` will be supported next PR ! Thanks :)

[2022-07-21 07:11] kaklakariada commented on #7
Thank you for your response!
It's good to hear that you are already working on this.
There are some more functions not implemented yet, e.g. listing tables. But I guess you are also working on this.
So I will close this issue for now and try it again later :-)

[2022-07-21 07:11] #7 closed

[2022-08-10 09:24] mdovhopo opened #12 "[Question] STRUCT support in emulator"
Hey there, Thank you for your work on BQ emulator, we are really missing it in our development :(

So i am having a little issue with `STRUCT` datatype. I am trying to create such table (using nodejs sdk, link below)

And this works fine for other data types, but for `STRUCT` it fails:(

## Some additional resources:

### Example script that i use to create table:

script.mjs
[code]

### Logs with

[2022-08-11 03:35] goccy commented on #12
Hi ! Thank you for the contribution ! I'll support `STRUCT` ( `RECORD` ) type as soon as possible !

[2022-08-12 13:46] #12 closed

[2022-08-15 06:41] goccy commented on #12
This issue was fixed with v0.1.5

[2022-08-15 09:37] mdovhopo commented on #12
Wow, that was fast, thank you @goccy, i'll try it out :)

[2022-08-22 04:51] ageiduschek opened #16 "Crash when re-creating a table after it has been deleted"
Hi there! Thank you so much for your work on this project. It has the potential to be incredibly useful for my work.

I was trying to integrate the emulator into some Python unit tests and I think I have found a bug related to table creation. In particular, if I create a table, delete the table, then create a table at the same location, I see a crash like this:
[code]

Here is the script I'm using

[2022-08-22 05:08] ageiduschek opened #17 "Crash querying when the project_id has a hyphen (-) in it"
I am seeing this crash running SQL queries when I use the emulator with a project_id value that has a hyphen in it :

[code]

The following script crashes when I use `project_id = 'test-project'` but does not crash if I use `project_id = 'test_project'`:
[code]

The Google Cloud docs do mention that project ids can contain hyphens: https://cloud.google.com/resource-manager/docs/creating-managing-p

[2022-08-22 05:25] goccy commented on #16
Thank you for using and reporting ! I'll fix this bugs !

[2022-08-22 05:27] goccy commented on #17
Thank you for using and reporting !! I will try to fix this 😃

[2022-08-22 19:11] ageiduschek opened #18 "Emulator does not handle two tables with same name, different datasets"
I am seeing a number of issues when I create two tables that have the same table_id but different dataset_ids and schemas.

If I create table `my_dataset_1.my_table` with single column `a` and table `my_dataset_2.my_table` with single column `b`, the emulator seems to be confused about which table/schema to use.

If I try to load data into `my_dataset_2.my_table` after creating both tables, I get

[2022-08-23 01:35] ageiduschek opened #19 "Crash when MIN/MAX/COUNT aggregate functions are used as window functions"
I am running into issues when I try to use certain aggregate functions as window functions. For example, for this query:
[code]

I get this error:
[code]

I am seeing a similar crash for `MAX` and `COUNT` functions as well, but not `AVG` and `SUM`.

Thanks!

[2022-08-23 01:48] ageiduschek opened #20 "Array-type results causing crashes in the Python client"
When I run any query with an ARRAY type column in a result, the Python client (I am using `2.34.4`, an older version) crashes with this trace:
[code]

Here is a script that produces this result:
[code]

The same script does not crash for me when I swap out the `bigquery.Client` for one that is querying against a real BigQuery project.

Thank you!

[2022-08-23 09:17] goccy commented on #18
Thank you for reporting !
I could  reproduce this issue in my environment too.

[2022-08-24 13:25] goccy commented on #18
This issue has been fixed in v0.1.6. If you have any problems, please reopen this.

[2022-08-24 13:25] goccy commented on #20
This issue has been fixed in v0.1.6. If you have any problems, please reopen this.

[2022-08-24 13:25] #20 closed

[2022-08-24 13:25] goccy commented on #19
This issue has been fixed in v0.1.6. If you have any problems, please reopen this.

[2022-08-24 13:25] #19 closed

[2022-08-24 13:26] goccy commented on #17
This issue has been fixed in v0.1.6. If you have any problems, please reopen this.

[2022-08-24 13:26] #17 closed

[2022-08-24 13:26] goccy commented on #16
This issue has been fixed in v0.1.6. If you have any problems, please reopen this.

[2022-08-24 13:26] #16 closed

[2022-08-24 17:20] ageiduschek commented on #17
Confirmed that this is fixed for me! Thank you :-)

[2022-08-24 17:21] ageiduschek commented on #19
This works now! Thanks for the speedy fix

[2022-08-24 17:21] ageiduschek commented on #20
Confirmed, this one works as well :-)

[2022-08-24 17:22] ageiduschek commented on #16
This script no longer crashes - thank you!

[2022-08-24 17:32] ageiduschek commented on #18
It looks like you have fixed this issue partially but not completely in 0.16. Here is a script that still reproduces a few issues for me:
[code]

In particular, this request is returning info for `my_dataset_2.my_table`:
[code]

And my request to `insert_rows` via the Python client for `my_dataset.my_table` is somehow triggering this API call (would guess that is related to the issue above):
[code

[2022-08-24 17:49] ageiduschek opened #22 "Issues deleting and recreating a table with a different schema"
I am seeing a handful of issues on version `v0.1.6` when I do the following:
* Create a table at location `my_dataset.my_table` with column `a`
* Delete the table
* Create a table again at location `my_dataset.my_table` with column `b`

Both insert and query operations seem to think that the table has the original schema, even though the GET table operation returns the correct info.

Here is a scr

[2022-08-24 18:03] ageiduschek opened #23 "DELETE request for datasets does not properly delete tables in that dataset when `deleteContents=True`"
When I try to delete a dataset with a table in it, it appears that the table is not being deleted properly. When I do this:
* Create dataset `my_dataset`
* Create table `my_dataset.my_table`
* Delete `my_dataset` with `deleteContents=True`
* Create dataset `my_dataset` again
* Create table `my_dataset.my_table` again

I see this crash:
[code]

Here is a script that reproduces the issue:
[code]

Th

[2022-08-24 18:38] ageiduschek opened #24 "Request: Support for JSON / TO_JSON"
I would love to be able to run a query like this against the emulator:
[code]

Which would return a result like this:
|a|
|-|
|"[1,2,3]"|

Right now, that query throws an error:
[code]

Thank you!

[2022-08-26 03:37] halnique opened #25 "[Question] does not supported Positional Parameters?"
Thanks for the `goccy/bigquery-emulator`, it is a very useful feature.

Can I use BigQuery Positional Parameters?
https://cloud.google.com/bigquery/docs/samples/bigquery-query-params-positional

In my environment, an error has occurred. (Using docker image)

[code]

bigquery-emulator logged the following.

[code]

In actual Google BigQuery, it works as follows.

[code]

Is there any option to make

[2022-08-26 03:45] halnique commented on #25
I have confirmed that Named Parameters is working.

[code]

bigquery-emulator logged the following.

[code]

[2022-08-26 09:05] goccy commented on #25
There is a type called ParameterMode in go-zetasql ( https://github.com/goccy/go-zetasql/blob/c0cdb2761078bdee9a269bcb29da4686d7ad4869/enum.go#L6-L19 ) that bigquery emulator uses.
As far as I know, this value can only be applied one at a time, so it may be difficult to enable positional parameter or named parameter at the same time 🤔

[2022-08-26 13:03] goccy commented on #25
I found a way to solve this problem ! I'll fix this problem as soon as possible !

[2022-08-26 13:13] halnique commented on #25
Amazing! I will look forward to it.

[2022-08-26 19:10] #18 closed

[2022-08-26 20:03] #23 closed

[2022-08-27 06:25] #22 closed

[2022-08-27 07:48] goccy commented on #18
This issue has been fixed in v0.1.7. If you have any problems, please reopen this.

[2022-08-27 07:49] goccy commented on #22
This issue has been fixed in v0.1.7. If you have any problems, please reopen this.

[2022-08-27 07:49] goccy commented on #23
This issue has been fixed in v0.1.7. If you have any problems, please reopen this.

[2022-08-27 07:49] goccy commented on #24
This issue has been fixed in v0.1.7. If you have any problems, please reopen this.

[2022-08-27 07:49] #24 closed

[2022-08-27 07:49] goccy commented on #25
This issue has been fixed in v0.1.7. If you have any problems, please reopen this.

[2022-08-27 07:49] #25 closed

[2022-08-27 22:41] ageiduschek commented on #22
This is fixed for me now! Thank you so much!!

[2022-08-27 22:42] ageiduschek commented on #23
Confirmed this is resolved for me in 0.1.7 :-)

[2022-08-27 22:55] ageiduschek commented on #24
The API request now returns 200 for the query I provided above, but it appears there is some issue with the response structure because it crashes client-side now.

This is the command I am running:
[code]

This is the error stack I am seeing:
[code]

[2022-08-28 12:52] OfirCohen29 opened #29 "[Question] Does emulator support streaming data with BigQuery Storage Write API?"
Hey,
Thanks for creating the bigquery emulator.

Can i use the BigQuery Storage Write API?

https://cloud.google.com/python/docs/reference/bigquerystorage/latest/google.cloud.bigquery_storage_v1.services.big_query_write.BigQueryWriteClient#google_cloud_bigquery_storage_v1_services_big_query_write_BigQueryWriteClient_create_write_stream

I tried to create a write stream in Python for the emulator,

[2022-08-28 14:15] goccy commented on #29
We don't currently support the streaming api, but we have plans to do so.
However, [as written in the README](https://github.com/goccy/bigquery-emulator#2-call-endpoint-from-python-client), I think there is a way to not use the streaming api explicitly, so I haven't given it a high priority.
If there is any reason why you cannot avoid using the streaming api, please let me know !

[2022-08-28 14:30] OfirCohen29 commented on #29
Thanks for answering

Yes we cannot avoid using streaming API so it will help a lot if the emulator will support that

Thanks again

[2022-08-28 14:38] goccy commented on #29
OK, I see. Could you please provide a simple and reproducible example code here ?
I would like to use it as a reference.

[2022-08-28 15:09] OfirCohen29 commented on #29
Yes

Dockerfile (port is set to 5042:9050 on docker-compose):

[code]

Python code:

[code]

data.yaml:

[code]

Please write here if something else is needed.

Thanks

[2022-08-29 23:42] ageiduschek opened #30 "Crash when using DATE/NULL inside of an UNNEST statement"
I'm seeing a crash when I try to use a date inside of a STRUCT in UNNEST statement.

For reference, this query does NOT crash:
[code]

But this very similar query that should produce the same results does:
[code]

This is the error log:
[code]

I also see the same crash when using a different date function:
[code]

Thank you!

[2022-08-30 00:01] ageiduschek opened #31 "Crash using MIN/MAX as window functions with a date value"
I'm seeing a crash when I try to use MIN/MAX as a window function with a date value as an argument, i.e. a query of this form:
[code]

Here is a script that reproduces the issue:
[code]

Logs:
[code]

This is a follow-up to https://github.com/goccy/bigquery-emulator/issues/19, which did correctly implement MIN/MAX/COUNT as window functions for integer values.

Thank you!

[2022-08-30 04:20] halnique opened #32 "Response format for Timestamp type data is different from actual Big Query?"
Using the following schema and data.

| id (INTEGER) | name (STRING) | created_at (TIMESTAMP) |
| --- | --- | --- |
| 1 | alice | 2020-01-01T00:00:00+09:00 |
| 2 | bob | 2020-06-15T09:00:00+09:00 |

The following image shows data on Big Query.

![image](https://user-images.githubusercontent.com/10358623/187348282-4a513dc3-5d2e-43a8-b6ee-41cde9dee76c.png)

The emulator is populated with data using

[2022-08-30 08:37] goccy commented on #29
Thank you for presenting the example.
I was thinking about cases where the streaming api is used implicitly, but for your use case you want to use it explicitly.
I understand it.

[2022-08-30 18:21] ageiduschek commented on #30
I am actually also seeing this for a much simpler case where I have a NULL value in the struct:

[code]

[2022-08-31 20:26] ageiduschek opened #33 "Empty result instead of runtime error when ARRAY_AGG has null values"
When I run this query in the BigQuery UI, I get a runtime execution error: 'Array cannot have a null element; error in writing field a_list''

[code]

However, I do an `ARRAY_AGG` the same data in the emulator, the row with `NULL` values in the `ARRAY_AGG` result is just silently dropped with no runtime error.

Here is the script that reproduces:
[code]
(Note: I couldn't actually test with the UNN

[2022-08-31 20:45] ageiduschek opened #34 "ARRAY_AGG(... IGNORE NULLS) crash when null value is in first row"
When I run a query like this:

[code]

It works if any null values in column `a` are NOT the first row. However, if the first inserted row has a null value for `a`, I am seeing this crash:
[code]

Here is the script I am using to reproduce:
[code]

If you change the `load_data` line to `client.load_data(dataset_id, table_id, [{"a": 1, "b": 2}, {"a": None, "b": 2}])`, the query works perfectly.

Th

[2022-09-02 11:23] #30 closed

[2022-09-02 11:59] #31 closed

[2022-09-02 12:19] goccy commented on #33
Thank you for reporting !
I would like to know the state of the data in the database after running this code.
After starting emulator with `--database=test.db` option and run this codes,
connecting with sqlite3 test.db , can you tell me the result of `select * from project_id_dataset_id_table_id` ( concat project_id and dataset_id and table_id with under score ) ?

[2022-09-02 12:27] goccy commented on #32
Do you know what format php client expects for timestamp type ? e.g.) `unixtime nano` or RFC3339 etc

[2022-09-02 13:26] #33 closed

[2022-09-02 13:34] goccy commented on #24
This issue is probably fixed in v0.1.8 !

[2022-09-02 13:35] goccy commented on #30
This problem fixed with v0.1.8

[2022-09-02 13:35] goccy commented on #31
This problem fixed with v0.1.8

[2022-09-02 13:36] goccy commented on #33
This problem fixed with v0.1.8

[2022-09-02 14:10] halnique commented on #32
It expects `Unix Timestamp with microseconds` format. e.g.) 1661864400.5699711
https://www.php.net/manual/en/datetime.formats.compound.php

The following client code causes an error.
https://github.com/googleapis/google-cloud-php-bigquery/blob/main/src/ValueMapper.php#L364

[2022-09-02 17:17] ageiduschek commented on #33
Here's my database info (looks expected to me?):
[code]

Will report on whether this error is fixed on 0.1.8 soon.

[2022-09-02 17:23] ageiduschek commented on #33
Confirmed this is now fixed! I am seeing "ARRAY_AGG: NULL value unsupported" now :-)

[2022-09-02 17:24] ageiduschek commented on #24
Yay this works now 😄

[2022-09-02 17:28] ageiduschek commented on #30
Confirmed this works now!

[2022-09-02 19:39] ageiduschek opened #37 "Nested use of TO_JSON produces incorrect results"
I'm seeing incorrect query behavior on nested usages of `TO_JSON`. For example for this query:
[code]

Expected result:
|result|
|-|
|{"a":"foo","b":{"c":"bar"}}|

Actual result:
|result|
|-|
|{"\\"foo\\"":"foo","zetasqlite_to_json_json(\\"zetasqlitestruct:eyJjIjoiYmFyIn0=\\",false)":{"c":"bar"}}|

This query should also produce the exact same result, but produces a slightly different, still incor

[2022-09-03 02:09] #37 closed

[2022-09-03 15:12] #32 closed

[2022-09-03 15:19] goccy commented on #34
I couldn't  reproduce this issue with a query by UNNEST.
Could you please try again with v0.1.8 ? Possibly, it may be reproduced when using a table.

[2022-09-04 04:56] goccy commented on #37
This problem fixed with v0.1.9 ! Thanks

[2022-09-04 04:57] goccy commented on #32
Thank you for your kind information !
This problem fixed with v0.1.9 !
Thanks

[2022-09-06 01:27] halnique commented on #32
Thanks!

[2022-09-06 03:10] exageraldo commented on #32
Hey, I'm trying to run it this way:

[code]

But I believe I'm facing the same problem initially reported here.
[code]

`load-bigquery.yam`:
[code]

Do I have to do something different?

[2022-09-06 03:26] goccy commented on #32
@exageraldo
BigQuery uses float representation when returning timestamp type value, but when sending timestamp type value from client to BigQuery, it must be in the following format
https://cloud.google.com/bigquery/docs/reference/standard-sql/data-types

So, you should use representation like `2022-01-01T00:00:00Z` as timestamp value

[2022-09-06 03:37] exageraldo commented on #32
Now it worked perfectly. Thanks a lot!

[2022-09-06 17:57] ageiduschek commented on #34
It seems like you're correct - it still reproduces for me in v0.1.8, but only when querying from data in a table.

If I replace this line:
[code]

with this line:
[code]

then there is no crash.

[2022-09-06 17:58] ageiduschek commented on #37
Confirmed this is fixed! Thank you!

[2022-09-07 05:20] halnique opened #39 "Can I use INSERT DML?"
https://cloud.google.com/bigquery/docs/reference/standard-sql/data-manipulation-language

BigQuery supports DML statements.
It can be run with the `bq` command line tool.

[code]

But when I run INSERT DML on emulator, it does not return any results.

[code]

The emulator outputs the following logs.

[code]

schema

![image](https://user-images.githubusercontent.com/10358623/188793369-37b52667-933

[2022-09-07 05:36] goccy commented on #39
Currently, it is assumed that data is added using the DML interface used from the client library of each language, so DML by query is not supported. `POST /projects/{projectId}/datasets/{datasetId}/tables/{tableId}/insertAll` and `POST /upload/bigquery/v2/projects/{projectId}/jobs` API are supported .

[2022-09-07 08:49] halnique commented on #39
OK. Thanks!

[2022-09-07 08:49] #39 closed

[2022-09-08 11:47] #34 closed

[2022-09-08 11:49] goccy commented on #34
I fixed this problem with v0.1.10 ! Thank you for reporting !

[2022-09-08 12:14] halnique opened #41 "Want to see Resource Information detail"
There does not seem to be much information available in the emulator.
In my use case, requires Job and Table information.
Can you make it so that I get the same information as BigQuery?

https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs
https://cloud.google.com/bigquery/docs/reference/rest/v2/tables

Job in BigQuery

[code]

Job in emulator

[code]

emulator logs

[code]

Table in BigQ

[2022-09-08 16:38] goccy commented on #41
OK, Please let me know what field names you need as it is difficult to keep all the information the same as BigQuery.

[2022-09-09 01:22] halnique commented on #41
For the time being, I would like to use the following fields.

Job

* `statistics.totalBytesProcessed `

Table

* `numRows`
* `schema.fields`

[2022-09-11 15:57] cbusseata opened #43 "Several issues on OS X"
Hi, I REALLY want to use your emulator (also, thank you for taking the initiative to put this together!) but I am having several issues with it.

1. I tried using this exact configuration as described here (https://github.com/goccy/bigquery-emulator/issues/29#issuecomment-1229481621) but I see:
[code]

2. When trying to use --data-from-yaml when starting the docker container, I always get an error

[2022-09-12 06:27] goccy commented on #43
Hi, As mentioned in #29, the streaming api doesn't work yet, so this code won't work.
Second, if you specify data.yaml with a relative path, it must be relative to the path where you're running the bigquery-emulator binary. Therefore, **please specify the absolute path** here.
The third problem is difficult to reproduce, so it would be helpful if you could provide the reproduction code.

[2022-09-14 10:16] adamlofts opened #44 "Content-Type not set to application/json (does not work when using a dart client)"
When inserting data using the dart bigquery API the client crashes.

[code]

The problem seems to be that although the response is JSON the `Content-Type` header is `text/plain`. You can see the dart code [checking for this here](https://github.com/google/googleapis.dart/blob/d9dec254ffe223b432130f329a63f2f2314673d0/discoveryapis_commons/lib/src/api_requester.dart#L315):

[code]

Would suggest fix

[2022-09-15 00:19] cbusseata commented on #43
Hey thanks for the reply. Here's what I've found.

Ignore point #3, whatever was going on, it's not happening anymore, probably just my machine.

1. I managed to get around this by creating a proxy server using node http proxy and express. With that I was able to capture the chunked data, turn it into a json string and make the request to the emulator without any issues.

2. I tried the absolute p

[2022-09-15 13:36] #44 closed

[2022-09-15 14:49] #41 closed

[2022-09-15 15:31] goccy opened #48 "Support INFORMATION_SCHEMA"
https://cloud.google.com/bigquery/docs/information-schema-intro

[2022-09-15 16:31] #43 closed

[2022-09-16 04:09] goccy commented on #44
Thank you for reporting !
I fixed this problem with v0.1.12

[2022-09-16 04:10] goccy commented on #43
I supported dryRun option in v0.1.12

[2022-09-16 04:11] goccy commented on #41
Thank you for providing the information !
I fixed this problem with v0.1.12

[2022-09-16 20:20] cbusseata opened #49 "Freezing on Begin Transaction"
Example POST to /bigquery/v2/projects/{project-id}/jobs
[code]

This is a query originating from a spring JPA Repository using the Simba Bigquery Driver. The emulator never responds to this request and from that point forward can't respond to other requests, and I have to kill it and restart.

[2022-09-23 07:33] Kulkarnionkar2007 opened #51 "Sample Docker Compose File & Docker File"
Hello Team,

Thanks for providing Big Query Emulator which will definitely help in local testing.

I am trying to set this up on my local machine using docker. I am stuck and getting error like "project flag is not set" & "unknown flag c."
Could you please provide a sample Docker Compose File & Docker File which I can use to resolve the issue. (Referred to other issue raised where it is said to cr

[2022-09-25 11:46] #51 closed

[2022-09-25 11:52] goccy commented on #51
I added a working example for python !

[2022-10-05 03:02] otofune opened #54 "bq.py can't handle notFound error"
For example, `bq --api="http://localhost:9050" --project_id="test" mk --dataset test` (with `./bigquery-emulator --project test`) failed with following error:

[code]

bq checks if dataset/table/etc already exists before creating it. Of course bigquery-emulator already returns 404, but bq can't handle plain text error.

https://github.com/goccy/bigquery-emulator/blob/d7a7d9a42a271061c95fc6c4b11336

[2022-10-06 08:12] goccy commented on #54
I read the error dofcumentation ( https://cloud.google.com/bigquery/docs/reference/rest/v2/ErrorProto ).
Also, when I read the source code of bq.py, it seems that `notFound` must be returned as the `reason`. I'll fix it !

[2022-10-06 16:37] #54 closed

[2022-10-06 22:10] andreas-dentech commented on #29
I'm using the InsertAll API to stream things into BigQuery (making use of https://github.com/OTA-Insight/bqwriter), and it kind of works against the emulator... there are two things at least that does not work super well:

1) the emulator hangs for around 15 seconds when the batch is flushed to the emulator
2) if I have a record field with a repeated record field in it, then the data does not make

[2022-10-07 05:24] goccy commented on #54
I fixed this problem with v0.1.15 . Thank you !

[2022-10-07 17:34] rafaph opened #56 "UPDATE statement is not working"
Hello, first of all, I would like to congrats for this amazing project.

I'm trying to do a simple UPDATE using the python example provided in this repo:

[code]

The program freezes for some reason. Can someone help me? Is this normal?

Thanks

[2022-10-08 05:53] #49 closed

[2022-10-08 05:54] goccy commented on #56
Thank you for reporting ! I fixed this problem with v0.1.16 :)

[2022-10-08 05:54] #56 closed

[2022-10-08 05:55] goccy commented on #49
Thank you for reporting ! I fixed this problem with v0.1.16

[2022-10-11 11:36] ravi-gopalan-1972 opened #58 "Unable to compile and the big query emulator from Go Program"
when i include the package for the big query emulator, i am getting the following error

# github.com/goccy/go-zetasql/internal/ccall/go-absl/time/go_internal/cctz/time_zone
bind.cc:97:10: fatal error: 'absl/time/internal/cctz/include/cctz/time_zone.h' file not found

Any resolution for this would be greatly helpful. Thanks

[2022-10-14 10:44] Vikas-MI opened #59 "Bigquery Query Like ORDER BY GROUP BY FORMAT_DATE count and subquery not working on bigquery emulator."
Hey @goccy

I have written one query regarding BIG QUERY Like the below for inserting data and fetching data
Whenever insert data it will work fine but when I tried to fetch data using group by or count or order by or using subquery it will not give me a proper record and it will give me error.

This is below code I tried.

[code]

[code]

[code]

**While I try to fetch the record using the below

[2022-10-14 11:17] goccy commented on #59
I wrote a test code and verified it, and the result is different from what you reported.

[code]

First, the result of executing query2 in the above test code is as follows. this seems to work as expected.

[code]

Then I ran `query` . The result is as follows. This query has been marked as an invalid query by ZetaSQL Analyzer.
Did it work with BigQuery ?

[code]

[2022-10-14 11:21] goccy commented on #58
@ravi-gopalan-1972  Please let me know the build environment. Possibly, but are you using a `go mod vendor` ?

[2022-10-14 11:28] Vikas-MI commented on #59
@goccy
Thanks for the quick response

Could you please try with a single query?

[code]

[2022-10-14 11:32] Vikas-MI commented on #59
Yes @goccy
It will work fine in bigquery

Currently, I am working on a big query test case so I tried your library **big query emulator** for the implementation of big query test cases (big query emulator)

[2022-10-16 00:55] ravi-gopalan-1972 commented on #58
i am using go version go1.19.1 darwin/amd64 and i did a go mod vendor and my go.mod has an indirect reference to github.com/goccy/bigquery-emulator v0.1.16  and my system config is MacOS Monterey 12.3.1 Chip: Apple and memory 16GB

[2022-10-17 05:07] Vikas-MI commented on #59
@goccy
I am getting the below error could you please suggest me?

**googleapi: Error 400: INVALID_ARGUMENT: Table not found: test [at 5:46], jobInternalError**

[2022-10-17 05:16] jhowliu commented on #59
Hi @Vikas-MI

Could you share how to new bigquery client with me? I'm stuck on create any dateset in my mock server. I always got some  error message like **Post "http://0.0.0.0:55189/projects/test/datasets?alt=json&prettyPrint=false": EOF**

[2022-10-17 05:55] Vikas-MI commented on #59
Hi @goccy
Yes I get exactly the same error as you getting
Could you please suggest to me the proper solution for it?

**googleapi: Error 400: INVALID_ARGUMENT: No matching signature for operator BETWEEN for argument types: STRING, STRING, DATE. Supported signatures: (INT64) BETWEEN (UINT64) AND (UINT64); (UINT64) BETWEEN (INT64) AND (UINT64); (UINT64) BETWEEN (UINT64) AND (INT64); (UINT64) BETWEEN

[2022-10-17 07:57] goccy commented on #58
Thank you for the information. I understand !
This problem is caused by the combination of cgo and `go mod vendor`.
I've fixed similar issues in the past ( https://github.com/goccy/go-graphviz/issues/28 ), so I'll fix this later

[2022-10-17 08:00] ravi-gopalan-1972 commented on #58
@goccy please help me with the resolution for this as i am currently blocked in using this in my project. Any help would be greatly appreciated. Thanks

[2022-10-18 14:05] goccy commented on #58
This problem is fixed with v0.1.17 !  :)

[2022-10-18 14:05] #58 closed

[2022-10-19 05:41] ravi-gopalan-1972 commented on #58
is there anything that i have to add in my go build command? it is failing with the following errors:

+build \| # github.com/goccy/go-zetasql/internal/ccall/go-zetasql
--
  | +build \| In file included from vendor/github.com/goccy/go-zetasql/internal/ccall/go-zetasql/parser/bison_parser_generated_lib/export.inc:15,
  | +build \|                  from vendor/github.com/goccy/go-zetasql/internal/cc

[2022-10-19 11:39] goccy commented on #58
@ravi-gopalan-1972
Please let me know if it works!

[2022-10-19 11:58] Vikas-MI commented on #59
Hi @goccy
Could you please help me out with this query solution?
Because I am also getting the same error as you getting

googleapi: Error 400: INVALID_ARGUMENT: No matching signature for operator BETWEEN for argument types: STRING, STRING, DATE. Supported signatures: (INT64) BETWEEN (UINT64) AND (UINT64); (UINT64) BETWEEN (INT64) AND (UINT64); (UINT64) BETWEEN (UINT64) AND (INT64); (UINT64) BETWE

[2022-10-19 18:17] alvarowolfx opened #61 "M1/ARM Mac support"
I have been trying to use the project for integration testing purposes, but when I try to install it locally ( via `go install github.com/goccy/bigquery-emulator/cmd/bigquery-emulator@latest` ) or integrating into my code, the process gets stuck. I wonder if this is some kind of problem with CGO and Macs with ARM chips. I see a lot of `clang` processes being started ( and consuming ~4gb of ram ) b

[2022-10-19 18:20] alvarowolfx commented on #61
More information from my environment:

[code]
[code]

[2022-10-20 03:37] goccy commented on #59
After correcting the casting process for `PARSE_DATETIME` argument and `created` which is the argument of `BETWEEN`, the error is gone, but I found that the converted query fails due to a bug in go-zetasqlite.
I'm currently working on fixing that.

[code]

[2022-10-20 05:07] ravi-gopalan-1972 commented on #58
hi @goccy, thanks for making the changes, it is working on my laptop but i am facing trouble integrating it with the CI build. The go build command is failing to compile with lot of errors

+build \| In file included from vendor/github.com/goccy/go-zetasql/internal/ccall/go-zetasql/parser/bison_parser_generated_lib/export.inc:15,
--
  | +build \|                  from vendor/github.com/goccy/go-ze

[2022-10-20 05:15] Vikas-MI commented on #59
Hey @goccy
Yes Thank you so much for your response

Currently, I get this below error like

```googleapi: Error 400: failed to parse statements: failed to parse statement: INVALID_ARGUMENT: Syntax error: Illegal input character "%" [type.googleapis.com/zetasql.ErrorLocation='\x08\x04\x10Y'], jobInternalError```

[2022-10-20 05:59] goccy commented on #58
@ravi-gopalan-1972
The C++ compiler may be bad. go-zetasql requires clang++ to build but specified g++ ?
Try setting the `CXX` environment variable to clang++
FYI: https://github.com/goccy/go-zetasql#prerequisites

[2022-10-20 06:05] goccy commented on #59
@Vikas-MI Based on the error, I would guess that your code is most likely incorrect, so please paste the code you are verifying as is here.

[2022-10-20 06:07] goccy commented on #61
If you are installing for the first time, it may take more than 10~20 minutes to build the ZetaSQL library.
How long did you wait ?

[2022-10-20 06:11] ravi-gopalan-1972 commented on #58
@goccy how do i specify these in docker-compose.yml files?

[2022-10-20 06:19] Vikas-MI commented on #59
Hey
@goccy
Could you please send me the error which you are getting in this query?

[2022-10-20 06:43] goccy commented on #58
This is a configuration issue on the CI side, so please install properly beforehand
[code]

[2022-10-20 08:53] kitagry commented on #32
Hi @goccy @halnique

I use timestamp type by [python bigquery library](https://pypi.org/project/google-cloud-bigquery/). And I got the following error.

I think timestamp format should return `int` instead of `float`. Do you think about it? Thank you.

https://github.com/googleapis/python-bigquery/blob/main/google/cloud/bigquery/_helpers.py#L207

[code]

[2022-10-20 09:21] goccy commented on #32
Go's client library seems to expect float64 value as timestamp value ... 🤔
FYI: https://github.com/googleapis/google-cloud-go/blob/fee0f68b5005222a8bcf1f2c662d6587eac7bd0f/bigquery/value.go#L957-L966

[2022-10-20 19:29] alvarowolfx commented on #61
Indeed I was not waiting enough, it took around 15 minutes here. For me it was really weird because I wasn't getting any feedback and has been a while since installing a go package took so long. But it's all good now, sorry for the noise.

[2022-10-20 19:29] #61 closed

[2022-10-21 00:01] kitagry commented on #32
Ok, I understand it. Python client send `formatOptions.useInt64Timestamp = true`. So, I think emulator should implement thi s option in order to use timestamp in python library.

https://github.com/googleapis/python-bigquery/commit/04510a7dc7570466550bbdf500d7020bef2af44d

[2022-10-21 03:51] goccy commented on #32
I see ! I also found that in the docs
https://cloud.google.com/bigquery/docs/reference/rest/v2/DataFormatOptions

[2022-10-25 17:01] glebbash opened #65 "Feature request: Implemented features table"
First of all thanks for your amazing work on this project.

It would be nice to know which features are implemented and which are not yet / impossible to implement (maybe a table in readme?).

I think this will be very helpful for everyone who is considering to use the emulator.

[2022-10-27 03:01] goccy commented on #59
I confirmed this problem was fixed with #67 .
Test code is here. ( put to `server` directory )

[code]

[code]

[2022-10-27 03:44] goccy commented on #59
@Vikas-MI
I released [v0.1.20](https://github.com/goccy/bigquery-emulator/releases/tag/v0.1.20) to fix this problem.
Could you please confirm the above test code ?

[2022-10-27 03:48] goccy commented on #65
Have you read https://github.com/goccy/bigquery-emulator/tree/v0.1.20#status, it has details about the Queries available in BigQuery emulator. Or are you want to know BigQuery features other than Query ?

[2022-10-27 06:32] glebbash commented on #65
Yeah I saw query support and I also looked at the [presentation](https://docs.google.com/presentation/d/1j5TPCpXiE9CvBjq78W8BWz-cGxU8djW1qy9Y6eBHso8/edit?usp=sharing) and it mentions some features that are not implemented like BigQuery Storage API and loading from GCS.

So I was wondering if this info can be made more discoverable / up to date.

[2022-10-27 06:34] glebbash commented on #65
I was interested in load job from local file support, but can't find any info about it.

[2022-10-28 03:51] goccy commented on #65
I see. Understood. I will add to the README what BigQuery features other than queries are supported and what I plan to add.

[2022-10-28 13:46] jussikuosa opened #68 "Problem inserting into a REPEATED RECORD column"
Hi, I'm in a project that uses a metadata column of type repeated record:

[code]

I've been able to create our table with bigquery-emulator but I'm not able to get the values properly from the metadata column.

[code]

The schema file is as follows:
[code]
and when I query our test table, I get:
[code]

Am I doing the insert correctly and can I achieve the same result as google bigquery?

[2022-10-28 22:17] rafaph opened #69 "How to build docker image for M1 processor?"
Hello, first of all thank you for this amazing project!

I'm trying to build using the Dockerfile provided and I'm getting this error, not sure how to proceed to fix.

Here is the log:

[code]

I'm having performance issues using the default image, as Docker for Mac emulates the amd64 environment, that's why I'm trying this operation.

Thanks!

[2022-10-29 01:06] #69 closed

[2022-10-31 02:36] gyuta opened #70 "UDF with table name doesn't work"
Hi, I found that when UDF and table name like `dataset.table_a` exists in query at the same time, it doesn't work.

A sample is here.
[code]
and got
[code]

Of couce, change query to
[code]
or to
[code]

works properly.

and got
[code]

[2022-10-31 04:25] goccy commented on #70
Thank you for your report ! I will fix it as soon as possible 👍

[2022-10-31 13:22] adamszadkowski opened #71 "Cooperation with google's java library google-cloud-bigquery"
Hi! Thank you for creating `bigquery-emulator`. This gives hope for regular testing experience which we all need :)

I have tried to use it with `google-cloud-bigquery` java library from Google and encountered some problems. I hope that it will be possible to include fixes in `bigquery-emulator`.

I have made a simple example which shows problems in here: [SampleTest.kt](https://github.com/adamsza

[2022-11-02 02:03] Fraser-Isbester opened #73 "Support `Default` argument"
New [beta feature](https://cloud.google.com/bigquery/docs/default-values) allows for column `default` values. Would love to see support.

[2022-11-02 04:46] goccy commented on #59
I will close this once. If you still have problems, let me know.

[2022-11-02 04:46] #59 closed

[2022-11-02 05:30] goccy commented on #71
Thank you for your report !

Is the following the `type` of the second question?

https://cloud.google.com/bigquery/docs/reference/rest/v2/tables#Table

[code]

[2022-11-02 06:55] Vikas-MI commented on #59
@goccy Thank you for your quick response

But after scanning the result I get this below error could you please look at this issue?

error => **googleapi: Error 404: dataset anonymous is not found, notFound**

[2022-11-02 07:51] goccy commented on #59
I've never encountered that error, so I need the complete code to reproduce.

[2022-11-02 08:08] adamszadkowski commented on #71
Yes, it is it. `google-cloud-bigquery` library expects this field to be set in response otherwise it is throwing an exception.

[2022-11-02 10:06] Vikas-MI commented on #59
@goccy

This is my code
[code]

[2022-11-02 12:08] Vikas-MI commented on #59
@goccy Could you please run this above code in your editor and could you please let me know if you are getting any errors or not?

[2022-11-03 05:01] #68 closed

[2022-11-03 07:16] #70 closed

[2022-11-03 08:44] #71 closed

[2022-11-03 08:47] goccy commented on #71
I fixed this problem with v0.1.21 . Please confirm it 😄

[2022-11-03 08:47] goccy commented on #70
I fixed this problem with v0.1.21 . Please confirm it 😄

[2022-11-03 08:49] goccy commented on #68
Thank you for your report !
I fixed this problem with v0.1.21 . Please confirm it 😄

[2022-11-03 09:23] jussikuosa commented on #68
Thank you @goccy! The simple test passes now perfectly. I'll try to finish the service integration in docker-compose next 👍

[code]

[2022-11-03 11:19] goccy commented on #59
The code you provided is incomplete so I can't try it.

[2022-11-03 11:20] Vikas-MI commented on #59
Hey @goccy let me share you full code.

[2022-11-03 11:24] goccy commented on #59
The code you're providing is incomplete Go code. Please paste here the complete code that works just by pasting it into the editor. Otherwise I cannot investigate.

[2022-11-03 11:24] Vikas-MI commented on #59
[code]

[2022-11-03 11:30] Vikas-MI commented on #59
Thank you so much for your quick response
I have update the updated code here could you please check it again ? @goccy

[2022-11-03 11:34] goccy commented on #59
Did you run this test code even once ? Go compiler can't compile this test code.

I'm sorry, but I will not investigate if you do not give me a code that I can compile next time, because the way you have been asking me to investigate in the past has not been good.

[2022-11-03 11:44] Vikas-MI commented on #59
Okay @goccy sure.

[2022-11-03 12:28] goccy commented on #59
The your pasted code is invalid at this time. Support will be finished.
https://github.com/goccy/bigquery-emulator/issues/59#issuecomment-1301960304

[2022-11-03 12:53] Vikas-MI commented on #59
[code]

[2022-11-03 12:55] Vikas-MI commented on #59
@goccy
I am setting up the code that's why it will take some time to format the code.

[2022-11-03 19:09] austensutherland opened #77 "Ambiguous column name when creating table from select"
This Project looks awesome!

Im hoping to use this to test the transformation queries in our ETL pipeline. A pretty common use case is to select specific columns from two source tables joined on an id / target_id foreign key.

I spun up this quick POC with some simple test data and ran into issues when attempting to join two tables within a `CREATE OR REPLACE TABLE` where the join condition contai

[2022-11-04 03:56] goccy commented on #77
Thank you for your report ! I fixed this problem with https://github.com/goccy/go-zetasqlite/pull/39 .
I will release a new version later

[2022-11-04 04:26] #77 closed

[2022-11-04 04:28] goccy commented on #77
I released v0.1.22 :)

[2022-11-04 07:52] jussikuosa opened #79 "Odd cast to string from numeric value"
Hi again, now I have a numeric field with a value of `1234.567` and I want to get a sum of the values as string with `CAST(SUM(quantity) as STRING) as quantity` to show elsewhere. From bq + Google (BigQuery) I get the usual `1234.567` decimal-looking sum but from the emulator, I get `1234567/1000` (which is technically correct but it looks like some evaluation is missing).

[2022-11-04 08:12] goccy commented on #79
Thank you for your report. I now know the cause of this issue and will fix it.

[2022-11-04 08:33] adamszadkowski commented on #71
@goccy it looks like [spark-bigquery-connector](https://github.com/GoogleCloudDataproc/spark-bigquery-connector) actually uses BigQuery Storage API to read data. Right now it is also problematic to change the address for this GRPC endpoint (I have done that in debug mode). As far as I can tell by reading content in `bigquery-emulator` repository - there is no support for this API right now.

Are y

[2022-11-04 09:01] jussikuosa opened #80 "Named parameters not (re-)used in queries"
Hi @goccy, one more case: we have a [parameterized select query](https://cloud.google.com/bigquery/docs/parameterized-queries#go) in golang. We utilise a named parameter in 2 places in the query (with `@param` syntax) and I get an error with the emulator. The workaround is to add the parameter a second time to the parameter list which seems redundant. Can this be fixed?

[2022-11-04 09:11] goccy commented on #71
duplicate https://github.com/goccy/bigquery-emulator/issues/29

[2022-11-04 09:17] goccy commented on #80
Since it can be executed without problems even if multiple parameters exist in the query (e.g. `@param1` and `@param2` ), could you please provide a reproduction code?

[2022-11-04 09:18] goccy commented on #79
I fixed this problem with https://github.com/goccy/go-zetasqlite/pull/40 .

[2022-11-04 13:40] austensutherland commented on #77
Awesome, thanks for being so quick to respond and release! After building the `0.1.22` image can confirm that this is working as expected. Thanks again for creating and maintaining this project.

[2022-11-04 14:40] nikolaikopernik opened #81 "Cannot update the schema of already existed table"
Code snippet in kotlin :
[code]

so I have the issue:
[code]

[2022-11-09 04:28] #79 closed

[2022-11-09 04:36] goccy commented on #79
I fixed this problem with v0.1.23

[2022-11-09 04:39] goccy commented on #81
Since the combination of a `POST` request and this request path ( `bigquery/v2/projects/test/datasets/internal/tables/test` ) does not exist in the API Reference, this request does not appear to be processed correctly. Are you making the request using the official client SDK?

[2022-11-09 09:47] goccy commented on #29
I've supported for the Read API for the time being. Please wait a little longer for the Write API. I'm also looking for sponsors. Please consider sponsoring me :)

[2022-11-09 10:10] nikolaikopernik commented on #81
Yeah, you are right, dont see it on Google's AP page.
However I use the original Maven lib from google for that `com.google.cloud:google-cloud-bigquery:jar:1.126.6:`

[2022-11-09 15:23] goccy commented on #81
I see. BTW, what happens if the request destination is a real BigQuery?

[2022-11-14 15:02] goccy commented on #80
Could you provide a repro code ... ?

[2022-11-15 19:27] jussikuosa commented on #79
Yes, seems to work:
[code]
Thank you for the fix @goccy !

[2022-11-16 08:08] DavitSo opened #88 "failed to analyze: INVALID_ARGUMENT: Type not found: INTEGER"
Tables are created successfully but query gives Error for the following script
MERGE transaction_raw_dev.tradeTable USING UNNEST([struct<orderChainUuid STRING, userId INTEGER, ...

[2022-11-16 08:29] goccy commented on #88
It's difficult to investigate with this information, so please provide a repro code

[2022-11-16 15:20] tyamagu2 opened #90 "Error while writing timestamp column value to destination table"
The emulator fails to write query result with a timestamp column value to the destination table with the error like the following.

Here's the code to reproduce the error. It uses `CURRENT_TIMESTAMP()` but I confirmed that the same error occurs when the query refers to a timestamp column of a table.

[code]

[2022-11-16 15:51] #29 closed

[2022-11-17 04:52] goccy commented on #90
Thank you for your report. I also appreciate the great reproduction code.
I fixed this problem with #91 , so I'll release this later

[2022-11-17 04:54] #81 closed

[2022-11-17 05:11] goccy commented on #80
Thank you for your report.
I tested with the following code. It seems to be working correctly. Perhaps this issue has already been fixed. Could you please try with the latest version?

[code]

### Result

[code]

[2022-11-17 05:12] #90 closed

[2022-11-18 08:05] goccy commented on #29
@OfirCohen29 @andreas-dentech @adamszadkowski
Hi, I supported BigQuery Storage API from v0.1.27 . It was a lot of work, and I hope you will take advantage of it. Also, I'd be happy to receive feedback on how it works !

[2022-11-18 08:52] goccy commented on #88
Closed due to no response

[2022-11-18 17:50] olirice opened #96 "Recommended docker-compose health check"
Is there a recommended health check for use with docker?

[code]

thanks!

[2022-11-18 18:06] goccy commented on #96
Currently, health check endpoint doesn't supported because real BigQuery doesn't provide health check endpoint.
Alternatively, since there is a REST API, you may be able to use it ( FYI: https://cloud.google.com/bigquery/docs/reference/rest )

[2022-11-19 06:47] #96 closed

[2022-11-23 11:07] jussikuosa commented on #80
Hello, and sorry for the unclear example. I pulled the latest changes and the test will still fail if you comment out the latter "someday" parameter. In our production code, we can re-use the parameter in the query and specify it only once.

The error will be something like: `server_test.go:1433: googleapi: Error 400: not enough query arguments, jobInternalError`

[2022-11-25 12:35] goccy commented on #65
I wrote current status of the BigQuery emulator .
https://github.com/goccy/bigquery-emulator#status

[2022-11-25 12:35] #65 closed

[2022-11-28 06:46] RoeiA opened #101 "Support providing project and schema from env vars"
For users who run the emulator as a docker container or even inside a kubernetes cluster, it makes things more convenient to provide arguments through env vars.
* `--project` can be replaced as is with a simple string env var $PROJECT_NAME for example.
* `--data-from-yml` would perhaps be better replaced with a env var named $SCHEMA where the actual contents of the schema yaml can be placed. It sa

[2022-11-28 08:38] OfirCohen29 commented on #29
Thanks a lot

[2022-11-28 20:55] rob-pomelo opened #102 "Fetching Query Job Results with Java BigQuery Library Fails."
Hi thanks for an awesome library!

It seems that the java lib expects that a created job populates destination table even for a query, since it uses it to actually list data: [source](https://sourcegraph.com/github.com/googleapis/java-bigquery/-/blob/google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/Job.java?L318). Right now the emulator returns anymous for dataset and table for query

[2022-11-30 03:01] #80 closed

[2022-11-30 03:07] goccy commented on #80
Thank you for the additional information! I understand this issue and fixed it in #104.
Could you confirm that this issue is fixed by v0.2.2 ?